.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
gen/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
celery.log
celerybeat-schedule

venv/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

migrations/
